.product {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: white;
  z-index: 1;
  margin: 10px;
  padding: 20px;
}

.product__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  max-width: 200px;
}

.product > button {
  margin-top: 8px;
  background-color: #f0c14b;
  width: 100px;
  height: 40px;
  border: 2px solid #a88734;
  border-radius: 2px;
}