.product {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: white;
  z-index: 1;
  margin: 10px;
  padding: 20px;
}
.product:hover {
  animation: bounce 1.2s;
}

.product__description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  max-width: 200px;
}

.product > button {
  margin-top: 8px;
  background-color: #f0c14b;
  width: 100px;
  height: 40px;
  border: 2px solid #a88734;
  border-radius: 5px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}